<h1> Welcome <%= @user.username%></h1>
<h2>Jobs you've posted:</h2>
<h2><% @user.jobs.each do |job|%></h2>
Company: <% job.company %><br>
<br>
<%# <a href= @job.image_url_logo> %>
Location: <%= job.location %><br>
<br>
Description: <%= job.description %><br>
<br>
Key Qualifications: <%= job.key_qualifications %><br>
<br>
<% end %>


