
<p><%= @error %></p>
<form method="POST" action="/jobs">
  
  <label for="title">Title</label>
  <input type="text" id="title" name="title" /><br>
  <br>

  <label for="company">Company</label>
  <input type="text" id="company" name="company" /><br>
  <br>

  <label for="location">Location</label>
  <input type="location" id="location" name="location" /><br>
  <br>

  <label for="description">Description</label>
  <input type="textarea" id="description" name="description" /><br>
  <br>

  <label for="key_qualifications">Key Qualifications</label><br>
  <textarea id="key_qualifications" name="key_qualifications"></textarea><br>
  <br>
    
  <input type="submit" value="submit" />
</form><br>
 <img src="/images/punch.jpeg" style="width:500px;height500px;"> 
