
<p><%= @error %></p>
<form method="POST" action="/jobs">
  
  <label for="title">Title</label><br>
   <textarea id="title" name="title"></textarea><br>
  <br>

  <label for="company">Company</label><br>
   <textarea id="company name="company"></textarea><br>
  <br>

  <label for="location">Location</label><br>
   <textarea id="location" name="location"></textarea><br>
  <br>

  <label for="description">Description</label><br>
   <textarea id="description" name="description"></textarea><br>
  <br>

  <label for="key_qualifications">Key Qualifications</label><br>
  <textarea id="key_qualifications" name="key_qualifications"></textarea><br>
  <br>
    
  <input type="submit" value="submit" /><br>
</form><br>
 <br><img src="/images/punch.jpeg" style="width:500px;height500px;"> 
