
<p><%= @error %></p>
<form method="POST" action="/jobs">
  
  <label for="title">Title</label><br>
  <textarea id="title" name="title" style="margin: 0px; width: 496px;" spellcheck="false"></textarea><br>
  <br>

  <label for="company">Company</label><br>
  <textarea id="company" name="company" style="margin: 0px; width: 496px;" spellcheck="false"></textarea><br>
  <br>

  <label for="location">Location</label><br>
  <textarea id="location" name="location" style="margin: 0px; width: 496px;" spellcheck="false"></textarea><br>
  <br>

  <label for="description">Description</label><br>
  <textarea id="description" name="description" style="margin: 0px; height: 86px; width: 496px;" spellcheck="false"></textarea><br>
  <br>

  <label for="key_qualifications">Key Qualifications</label><br>
  <textarea id="key_qualifications" name="key_qualifications" style="margin: 0px; height: 86px; width: 496px;" spellcheck="false"></textarea><br>
  <br>
  <p>
    
  <input type="submit" value="    submit    ">
</form></p>
 <img src="/images/punch.jpeg" style="width:500px;height500px;"> 