Title: <%= @job.title %>
Company: <%= @job.company %>
Description: <%= @job.description %>

<form method="POST" action="/jobs/<%=@job.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>